<form action="#" method="get">
    <div class="imgcontainer">
        <p>Veuiller vous connecter</p>
    </div>

    <div class="container">
        <label for="NAME"><b>Nom</b></label>
        <small>(Les noms composés ne sont pas supportés)</small>
        <input type="text" placeholder="Entrez votre nom" name="NAME" required>
        <label for="EMAIL"><b>Email</b></label>
        <input type="text" placeholder="Entrez votre email" name="EMAIL" required>

        <button type="submit">Se connecter</button>
    </div>
</form>
